<div class="container">
    <h1>Kategorien</h1>

    <div class="d-flex flex-row-reverse bd-highlight">
        <div class="p-2 bd-dark">
            <a href="/meal/" class="btn btn-dark btn-lg active" role="button" aria-pressed="true">Mahlzeiten</a>
            <a href="/meal/newMeal" class="btn btn-dark btn-lg active" role="button" aria-pressed="true">Mahlzeiten
                erstellen</a>
            <a href="/categoryMeal" class="btn btn-dark btn-lg active" role="button" aria-pressed="true">Kategorien
                verwalten</a>
        </div>

    </div>

    <div class="item-content">
        <table class="table">
            <thead>
                <th>Name</th>
            </thead>
            <tbody>
                <% categoriesMeal.forEach(function(categoryMeal){ %>
                    <tr>
                        <td>
                            <%= categoryMeal.name %>
                        </td>
                        <td>
                            <a href="/categoryMeal/<%= categoryMeal.id %>/destroy">Löschen</a>
                        </td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>

        <a class="green-button mt-4" href="/categoryMeal/new">Hinzufügen</a>
    </div>
</div>
</div>