<div class="container">
    <form action="/categoryMeal" method="post" id="formCategoryMeal" onsubmit="return formCategoryMeal()">
        <input type="hidden" name="_csrf" value="<%= _csrf %>"/>
        <div>
            <div class="form-group">
                <label class="col-form-label-lg required">Name</label>
                <input type="text" class="form-control" maxlength="80" name="name">
            </div>
            <div class="form-group">
                <label class="col-form-label-lg required">Reihenfolge</label>
                <input type="number" class="form-control" maxlength="2" name="ordernumber">
            </div>
        </div>
        <br>
        <input class="btn btn-dark btn-lg active" type="submit" value="Hinzufügen">
    </form>
</div>
