<div class="container">
    <div class="mt-4 alert alert-success">
        Der Fitnessplan <%= fitnessplanname %> wurde erfolgreich gespeichert.
    </div>
    <div class="mt-4">
        <a class="green-button" href="/fitnessplan/">Zurück zu Fitnesspläne</a>
    </div>
</div>