<div class="container">
    <div class="mt-4 alert alert-success">
        Die Mahlzeit <%= mealname %> wurde erfolgreich gespeichert.
    </div>
    <div class="mt-4">
        <a class="green-button" href="/meal/">Zurück zu Mahlzeiten</a>
    </div>
</div>