<div class="container">
    <h2 class="mt-4">Willkommen in der Administrationsoberfläche</h2>
    <div class="row">
        <div class="col-md-6">
            <div class="card w-100 mt-4">

                <h4 class="card-header">
                    Fitnessplan verwalten
                </h4>
                <div class="card-body text-center container">

                    <div class="row mt-4">
                        <div class="mb-4 col-sm">
                            <a class="btn btn-dark" href="/fitnessplan/">Fitnessplan verwalten</a>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="mb-4 col-sm">
                            <a class="btn btn-dark" href="/category">Kategorien verwalten</a>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="mb-4 col-sm">
                            <a class="btn btn-dark" href="/fitnessplanOverview">Fitnesspläne vorschau</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card w-100 mt-4">

                <h4 class="card-header">
                    Mahlzeiten verwalten
                </h4>
                <div class="card-body text-center container">

                    <div class="row mt-4">
                        <div class="mb-4 col-sm">
                            <a class="btn btn-dark" href="/meal/">Mahlzeiten verwalten</a>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="mb-4 col-sm">
                            <a class="btn btn-dark" href="/categoryMeal">Kategorien verwalten</a>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="mb-4 col-sm">
                            <a class="btn btn-dark" href="/mealOverview">Mahlzeiten vorschau</a>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>