<div class="container">
    <h1>Impressum</h1>

    <h2>Angaben gemäß § 5 TMG:</h2>
    <p>FitFusion AG<br>
    Theodor-Heuss Str. 44<br>
    78467, Konstanz <br>
    E-Mail: fitfusion@be-healthy.de
    <br>
    Telefon: 0049 172 3111463</p>

    <h2>Vertreten durch:</h2>
    <p>Eigentümer: Julian Haase<br>
    <br>
    Geschäftsführer: Max Buggle</p>

    <h2>Registergericht:</h2>
    <p>Amtsgericht Konstanz</p>

    <h2>Registernummer:</h2>
    <p>HRB 12345</p>

    <h2>Umsatzsteuer-ID:</h2>
    <p>DE123456789p>

    <h2>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:</h2>
    <p>Julian Haase<br>
        Theodor-Heuss Str. 44<br>
        78467, Konstanz <br>


</div>